# AWS Configuration
AWS_REGION=ap-south-1
AWS_ACCESS_KEY_ID=add_your_AWS_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY=Add_youer_AWS_SECRET_ACCESS_KEY

# S3
S3_BUCKET_NAME=smart-city-incident-images

# DynamoDB
DYNAMODB_TABLE=complaints

# Cognito
COGNITO_USER_POOL_ID=ap-south-1_0sfT5kR9R
COGNITO_CLIENT_ID=2tcdbda5dqihpin977390n12b7

# SQS
SQS_QUEUE_URL=https://sqs.ap-south-1.amazonaws.com/024202239156/incidentProcessingQueue

# SNS
SNS_TOPIC_ARN=arn:aws:sns:ap-south-1:024202239156:cityEmergencyAlerts

# Server
PORT=5000
FRONTEND_URL=http://localhost:3000
